:root {
  --color-primary-50: 241 243 241;
  --color-primary-100: 227 232 227;
  --color-primary-200: 199 209 199;
  --color-primary-300: 171 186 171;
  --color-primary-400: 143 163 143;
  --color-primary-500: 115 140 115;
  --color-primary-600: 92 112 92;
  --color-primary-700: 69 84 69;
  --color-primary-800: 46 56 46;
  --color-primary-900: 23 28 23;
  --color-primary-950: 11 14 11;
}