{{- $page := . -}}
{{- $courseSection := site.GetPage "/course" -}}

<aside class="hb-sidebar-container max-lg:hidden lg:sticky">
  <div class="hb-scrollbar lg:h-[calc(100vh-var(--navbar-height))]">
    <ul class="flex flex-col gap-1">
      {{ with $courseSection }}
        {{ range .RegularPages.ByWeight }}
          {{- $active := eq $page.RelPermalink .RelPermalink -}}
          <li>
            <a class="hb-sidebar-custom-link{{ if $active }} sidebar-active-item bg-primary-100 font-semibold text-primary-800 dark:bg-primary-300 dark:text-primary-900{{ else }} text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-300 dark:hover:bg-primary-800 dark:hover:text-gray-50{{ end }}" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</aside>
